*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primarycolor: #EEE0CB;
    --secondarycolor: #5d252a;
    --ternarycolor: #2e1e0f;
    --whitishcolor: #f9f8f8;
}
body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/todobg2.jpg);
}
.header_container{
    display: flex;
    flex-flow: row;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 30px 0px;
}
#clock_digital{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.full_date{
    display: flex;
    flex-flow: row;
}
.day_and_date, .year{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f8f8;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.year{
    font-size: 1rem;
    padding-top: 2%;
}
.full_time{
    color: #ffffff;
    font-size: 1.8rem;
    font-family: 'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.search_container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff8f;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.22);
}
#searchbox, .search_button{
    outline: none;
    appearance: none;
    border: none;
    padding: 15px 10px;
    background-color: transparent;
}
#searchbox{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#searchbox::placeholder{
    font-weight: normal;
    font-family: 'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(41, 41, 41);
}
.search_button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search_button:hover, #item_submit:hover{
    cursor: pointer;
}
.heading, .subtitle{
    color: var(--whitishcolor);
    font-size: 2rem;
    font-family: 'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.subtitle{
    color: #EEE0CB;
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.list_heading_container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
#form{
    margin-bottom: 10px;
}
#new, #item_submit{
    outline: none;
    padding: 10px 15px;
    border: none;
    background-color: #ffffff8f;
    backdrop-filter: blur(6px);
    border-radius: 6px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.22);
}
#new, #searchbox{
    color: rgb(12, 12, 12);
    font-weight: bold;
    font-family: 'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#new::placeholder{
    color: rgba(0, 0, 0, 0.822);
    font-weight: normal;
    font-family: 'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#item_submit{
    background-color: #ffffffbc;
    font-weight: bold;
    font-family: 'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul{
    list-style-type: none;
    width: 60%;
    padding: 0rem 1rem 2.5rem 1rem;
    position: relative;
}

ul::before{
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: #ffffff71;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0px 10px 2px 0px rgba(255, 132, 132, 0.411), 0px 7px 2px 0px rgba(255, 251, 19, 0.63);
    box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.22);
}
ul.bg::before{
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: none;
}

.list_items_container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 70vw;
    margin-bottom: 15vh;
}

.list_items {
	text-decoration: none;
	display: flex;
	flex-flow: row;
	font-size: 1.5rem;
	border-top: .5rem solid #cecece;
	color: var(--secondarycolor);
    font-family: 'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(231, 231, 231);
	justify-content: space-between;
	padding: 1.5rem 1rem .6rem 1rem;
	position: relative;
    margin-top: 1rem;
}
.list_items:first-child{
    margin-bottom: 1.5rem;
}
.list_items::before, .list_items::after {
	position: absolute;
	content: "";
	top: 50%;
	bottom: 9px;
	left: 1%;
	right: 1%;
	background-color: #ce727a;
	box-shadow: 0 7px 7px 0px rgba(0, 0, 0, 0.411);
	transform: rotate(-2deg);
	z-index: -1;
}
.list_items::after{
    transform: rotate(2deg);
    z-index: -1;
}
li button{
    padding: 0.2em 0em;
    background-color: transparent;
    color: var(--secondarycolor);
    font-size: 0.9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
    border: none;
}
li button:hover{
    cursor: pointer;
}
.none{
    display: none;
}
